<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
			<h1 class="main-heading">Word CRUD</h1>
			<button mat-button (click)="onClickCreate()">Create</button>
    </div>
  </div>
  <div class="row">
		<div class="col-md-12">
			<anms-work-preview-list
				[words]="words$ | async"
				(tableScroll)="nextCollection()"
				(deleteBtn)="onClickDelete($event)"
				(updateBtn)="onClickUpdate($event)"
			></anms-work-preview-list>
		</div>
  </div>
</div>

