#This sample requires you to create a separate configuration file to define the custom options for the SNS topic and SQS queue.

Resources:
  MySQSSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "SQS security group"
      SecurityGroupIngress :
        - IpProtocol : "tcp"
          FromPort :
            Fn::GetOptionSetting:
              OptionName : "SQSPort"
              DefaultValue: "80"
          ToPort :
            Fn::GetOptionSetting:
              OptionName : "SQSPort"
              DefaultValue: "443"
          SourceSecurityGroupName:
            Ref: "SQS_SecurityGroup"
  MySQSQueue:
    Type: "AWS::SQS::Queue"
    Properties:
      QueueName: "cogri_vocab_mq"
      VpcSecurityGroupIds:
        -
          Fn::GetAtt:
            - MyCacheSecurityGroup
            - GroupId

Outputs:
  QueueURL:
    Description : "URL of newly created SQS Queue"
    Value : { Ref : "MySQSQueue" }
  QueueARN :
    Description : "ARN of newly created SQS Queue"
    Value : { "Fn::GetAtt" : [ "MySQSQueue", "Arn"]}
  QueueName :
    Description : "Name newly created SQS Queue"
    Value : { "Fn::GetAtt" : [ "MySQSQueue", "QueueName"]}
