<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'anms.title.long' | translate }}</h1>
      <div class="actions" *ngIf="!(isAuthenticated$ | async)">
				<div class="container">
					<div class="row" style="margin-bottom: 20px;">
						<div class="col">
					<button
							type="button"
							(click)="onLoginClick()"
							mat-raised-button
							class="actions-main"
							color="warn"
							[ngClass]="routeAnimationsElements">
							Sign Up to Continue
						</button>
						</div>
					</div>
					<div class="row">
							<div class="col">
								<button
									(click)="onSignUpClick()"
									type="button"
									mat-raised-button
									class="actions-main"
									color="primary"
									[ngClass]="routeAnimationsElements">
									Login to Continue
								</button>
							</div>
					</div>
				</div>
			</div>

      <div class="actions" *ngIf="(isAuthenticated$ | async)">
					<div class="container">
						<div class="row" style="margin-bottom: 20px;">
							<div class="col">
								<h3>
									Welcome to Cogri Vocabulary. {{ (user$ | async).name }}
								</h3>
							</div>
						</div>
					</div>
				</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="contributors" [ngClass]="routeAnimationsElements">
    <h2>This website is made by</h2>
    <div class="contributors-wrapper">

      <!-- ALL-CONTRIBUTORS-LIST:START -->
			<a class="contributor" href="https://github.com/kieronqtran" target="_blank">
				<img src="https://avatars0.githubusercontent.com/u/11246994?s=460&v=4">
				<span>Tran Huu Quang</span>
			</a>
      <a class="contributor" href="https://github.com/MrMinhNguyen" target="_blank">
        <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-1/p240x240/48397017_1891886130924036_5210334460112797696_n.jpg?_nc_cat=105&_nc_oc=AQnhcY_x6jV2BAradV9fCg3WJoGs7PmZOxX_EzX0nuyjEQcwVodRr6b-ryiZPRyctaY&_nc_ht=scontent.fsgn4-1.fna&oh=fa0025fe20f89870f8c8c2492d2f1fa0&oe=5CC7799C">
        <span>Nguyen Hoang Minh</span>
      </a>
			<!-- ALL-CONTRIBUTORS-LIST:END -->

    </div>
  </div>
</div>
